body {
  background-image: url("/image/background.jpg");
  background-position: bottom;
  background-size: cover;
  section {
    width: 90%;
    height: 100vh;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 40% 10% 10% 40%;
    grid-gap: 1rem;
    div {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-row: 2/4;
      background-color: rgba(0, 0, 0, 0.466);
      border: 2px solid rgb(0, 0, 0);
      h1 {
        font-size: 2rem;
        color: white;
      }
      p {
        color: gold;
      }
    }
  }
}
